# Objective - Merge Dataframes from all analyses, output as JSON file

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pymongo
import json
import requests
from scipy import stats

# Import cleaned CSV files from Resources folder

In [2]:
# Read in CSV files from Resources folder
happiness_df = pd.read_csv('Resources/city_happiness_wallethub.csv')
health_df = pd.read_csv('Resources/city_health_wallethub.csv')
recreation_df = pd.read_csv('Resources/city_recreation_wallethub.csv')

In [3]:
#Inner Join the dataframes
city_output = pd.merge(health_df, happiness_df, on='city', how='inner')
city_master = pd.merge(recreation_df, city_output, on='city', how='inner')

#Drop redundant columns
city_master.drop(['latitude_x','latitude_y','rank','rank_x','rank_y', 'longitude_x', 'longitude_y'], axis=1, inplace=True)

# GeoCoding - Fetch Latitude, Longitude for each city, add to data frame

In [4]:
# Baseline query url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
api_key = "AIzaSyC_EVgMTQrDct_xRCJXnmne3zXqWmgfgCU"

# Get geo-coordinates for city happiness data
lat = []
lon = []

for city in city_master['city']:
    # Build query URL
    target_city = city
    api_key = "AIzaSyC_EVgMTQrDct_xRCJXnmne3zXqWmgfgCU"
    
    # Build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
        'address={0}&key={1}').format(target_city,api_key)

    #Get the data
    geo_data = requests.get(target_url).json()

    # Extract latitude and longitude
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lon.append(geo_data["results"][0]["geometry"]["location"]["lng"])


#Populate lat, lon coordinates into dataframes
city_master['latitude'] = lat
city_master['longitude'] = lon

# Normalize each column for ranking between 1-100

In [22]:

norm1 = [round(100*(float(i)/max(city_master['health_rank']))) for i in city_master['health_rank']]
norm2 = [round(100*(float(i)/max(city_master['food_rank']))) for i in city_master['food_rank']]
norm3 = [round(100*(float(i)/max(city_master['fitness_rank']))) for i in city_master['fitness_rank']]
norm4 = [round(100*(float(i)/max(city_master['greenspace_rank']))) for i in city_master['greenspace_rank']]
norm5 = [round(100*(float(i)/max(city_master['hap_entertainment']))) for i in city_master['hap_entertainment']]
norm6 = [round(100*(float(i)/max(city_master['income_employment']))) for i in city_master['income_employment']]
norm7 = [round(100*(float(i)/max(city_master['community_environment']))) for i in city_master['community_environment']]

city_master['health_rank']=norm1
city_master['food_rank']=norm2
city_master['fitness_rank']=norm3
city_master['greenspace_rank']=norm4
city_master['hap_entertainment']=norm5
city_master['income_employment']=norm6
city_master['community_environment']=norm7
city_master.head()

,city,recreation_score,rec_entertainment,costs,parks,weather,latitude,longitude,health_score,health_rank,food_rank,fitness_rank,greenspace_rank,happiness_score,hap_entertainment,income_employment,community_environment
0,"San Diego, CA",58.27,4,70,11,34,32.715738,-117.161084,67.62,19,2,2,4,66.01,4,20,25
1,"Las Vegas, NV",58.14,10,38,21,18,36.169941,-115.139830,52.93,94,10,5,31,47.02,82,80,80
2,"Orlando, FL",58.13,2,50,54,28,28.538335,-81.379237,54.17,25,11,29,32,58.04,47,13,59
3,"Honolulu, HI",56.71,3,85,4,43,21.306944,-157.858333,61.76,25,5,33,3,64.21,30,19,9
4,"Tampa, FL",53.73,14,36,74,13,27.950575,-82.457178,54.01,46,15,15,22,56.02,67,21,32

# Statistics

In [40]:
#Drop extraneous columns for statistics
city_lite = city_master.drop(['city','latitude','longitude','recreation_score','rec_entertainment',
                             'health_score', 'food_rank', 'fitness_rank', 'happiness_score', 'parks' ], axis=1)

#Create dataframes to hold regression, statistics data
city_slope=[]
city_pvalue=[]
city_column1=[]
city_column2=[]
city_stats = pd.DataFrame(city_column1)

for column1 in city_lite:
    for column2 in city_lite:
        # Create two samples
        data1 = city_lite[column1]
        data2 = city_lite[column2]


        #Run Linear Regression
        slope, intercept, r_value, p_value, std_err = stats.linregress(data1, data2)
        city_slope.append(slope)
        city_pvalue.append(p_value)
        city_column1.append(column1)
        city_column2.append(column2)

city_stats['measure1']=city_column1
city_stats['measure2']=city_column2
city_stats['slope']=city_slope
city_stats['pvalue']=city_pvalue

## Remove 1.0 self-correlations, sort
linear_regression = city_stats[city_stats['slope'] < 1.0].sort_values(by='slope',ascending=0)
linear_regression

                 measure1               measure2     slope        pvalue
30      hap_entertainment            health_rank  0.692889  6.754246e-15
18            health_rank      hap_entertainment  0.668457  6.754246e-15
23        greenspace_rank            health_rank  0.574157  8.273011e-10
33      hap_entertainment      income_employment  0.572916  1.120893e-09
19            health_rank      income_employment  0.571850  5.228215e-10
37      income_employment            health_rank  0.571492  5.228215e-10
17            health_rank        greenspace_rank  0.558382  8.273011e-10
39      income_employment      hap_entertainment  0.552367  1.120893e-09
44  community_environment            health_rank  0.507184  1.913020e-07
20            health_rank  community_environment  0.478692  1.913020e-07
46  community_environment      hap_entertainment  0.394299  6.045790e-05
34      hap_entertainment  community_environment  0.385751  6.045790e-05
31      hap_entertainment        greenspace_rank  0.376317  1.220398e-04
25        greenspace_rank      hap_entertainment  0.373304  1.220398e-04
47  community_environment      income_employment  0.364828  2.983343e-04
41      income_employment  community_environment  0.344117  2.983343e-04
26        greenspace_rank      income_employment  0.338554  6.899035e-04
38      income_employment        greenspace_rank  0.329046  6.899035e-04
43  community_environment                weather  0.215444  3.203444e-02
13                weather  community_environment  0.213743  3.203444e-02
45  community_environment        greenspace_rank  0.203273  4.575798e-02
27        greenspace_rank  community_environment  0.197274  4.575798e-02
12                weather      income_employment  0.122429  2.368154e-01
36      income_employment                weather  0.116398  2.368154e-01
11                weather      hap_entertainment  0.098822  3.313806e-01
29      hap_entertainment                weather  0.097449  3.313806e-01
42  community_environment                  costs  0.022478  8.249758e-01
6                   costs  community_environment  0.022310  8.249758e-01
22        greenspace_rank                weather -0.039279  6.948385e-01
10                weather        greenspace_rank -0.040153  6.948385e-01
15            health_rank                weather -0.044191  6.544406e-01
9                 weather            health_rank -0.046451  6.544406e-01
35      income_employment                  costs -0.098156  3.188764e-01
5                   costs      income_employment -0.103288  3.188764e-01
7                 weather                  costs -0.164804  1.012301e-01
1                   costs                weather -0.164878  1.012301e-01
14            health_rank                  costs -0.204160  3.656828e-02
2                   costs            health_rank -0.214701  3.656828e-02
21        greenspace_rank                  costs -0.246305  1.245095e-02
3                   costs        greenspace_rank -0.251905  1.245095e-02
28      hap_entertainment                  costs -0.387125  6.066075e-05
4                   costs      hap_entertainment -0.392757  6.066075e-05

# Covert city_master to JSON file

In [41]:
city_master.to_json(r'Resources\city_master_wallethub.json', orient='index')
city_master.to_csv('Resources\city_master_wallethub.csv')
linear_regression.to_csv('Resources\linear_regression.csv')
linear_regression.to_json(r'Resources\linear_regression.json', orient='index')

# Export to MongoDB

In [42]:
#Convert merged output dataframe to a dictionary
city_dict = city_master.to_dict(orient='list')
linear_regression_dict = linear_regression.to_dict(orient='list')

# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define Mongo Database name, collection
db = client.city_master_wallethub_db
collection = db.items

db1 = client.linear_regression_wallethub_db
collection1 = db1.items

# Update the Mongo database using update and upsert=True
collection.insert_one(city_dict)
collection1.insert_one(linear_regression_dict)